<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ChatBotDBConnectionString"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\OOP\OOP-NW-Airbnb\ChatBotDB.mdf;Integrated Security=True;Connect Timeout=30"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>